* {
    margin: 0;
      border-radius: 10px;
      grid-gap: 10px;
      padding: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}
section{
    width: 100%;
     height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header header"
                         "navigation main"
                         
                         "navigation footer"
;

    #header {
        background-color: rgb(255, 0, 0);
        grid-area: header;
    }

     #navigation {
        background-color: rgb(0, 208, 132);
        grid-area: navigation;
    }
     #main {
        background-color: rgb(19, 70, 255);
        grid-area: main;    
    }
     #footer {
        background-color: rgb(201, 0, 164);
        grid-area: footer;
    }

}
