*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}


:root{
  --x: 100px;
  --y: 100px

}

body{
  background-image: url("./moon\ .jpg");
  background-size: cover;
}

#box{
    height: 100%;
    width: 100%;
   background: radial-gradient(200px at var(--x) var(--y) ,rgba(255, 255, 255, 0)40% ,rgba(0, 0, 0, 0.816));
}

