*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}


body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom,rgb(32, 32, 32),rgb(18, 18, 18),black);
}



p{
  color: rgb(115, 255, 0);
  font-weight: 500;
  font-size: 40px;
}